@tailwind base;
@tailwind components;
@tailwind utilities;

.scrl {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  /* Firefox workaround to hide scrollbar */
  .scrl::-webkit-scrollbar {
    display: none;
  }